
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="/User/TopThreeCustomerGraph">Top 3 customers</a>
<br />
<br />
<br />

<a href='@Url.Action("TopThreeCustomerGraph", "User")' class="btn btn-primary">Top 3 customers</a>
<br />
<br />
<br />


<a href='@Url.Action("Top3VendorChart", "Vendor")' class="btn btn-primary">Top 3 Vendors</a>
<br />
<br />
<br />

<a href='@Url.Action("CategoryProductAmountChart", "Category")' class="btn btn-primary">category vs product chart</a>
<br />
<br />
<br />

<a href='@Url.Action("TopCustomerDetails", "user")' class="btn btn-primary">Top Customer Details</a>
<br />
<br />
<br />




<a href='@Url.Action("VendorWithMaxBrand", "vendor")' class="btn btn-primary">Vendor With Maximum Number of Brands</a>
<br />
<br />
<br />




<a href='@Url.Action("TopLaptopDetails", "product")' class="btn btn-primary">Top Laptop</a>
<br />
<br />
<br />




<a href='@Url.Action("TopSellerReferenceDetails", "user")' class="btn btn-primary">Top Seller Reference Details</a>
<br />
<br />
<br />




<a href='@Url.Action("ProductBoughtByBuyers", "user")' class="btn btn-primary">Product Bought By Buyers</a>

