@model IEnumerable<PcHut.Models.user>

@{
<<<<<<< HEAD
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
=======
    ViewBag.Title = "ProductBoughtByBuyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
>>>>>>> 69e4238c60dadea905f4504c87bca31b9d8d7aa1
}

<h2>ProductBoughtByBuyers</h2>


<<<<<<< HEAD
<html>
<head>
    <style>
        table, td, tr {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr {
            height: 90px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>ProductBoughtByBuyers</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>User Name</td>
            <td>User Email</td>
            <td>Phone</td>
        </tr>
=======
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registration_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registration_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}
>>>>>>> 69e4238c60dadea905f4504c87bca31b9d8d7aa1

</table>
