@model IEnumerable<PcHut.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
@{
    string userType = Session["user_type"].ToString();
    if (int.Parse(userType) == 1 || int.Parse(userType) == 2)
    {
        <a href="/product/create">Create Product</a> 
        <a href="/user/index">All users</a>
        <a href="/user/ProductBoughtByBuyers">Product Bought By Buyers</a>
        } 
    }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.product_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.warranty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.specification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Special)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brand.brand_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category.category_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.product_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.warranty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.specification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Special)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brand.brand_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category.category_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.image)
                    </td>
                    @{ 
                        if (int.Parse(userType) == 1 || int.Parse(userType) == 2)
                        {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.product_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
                        @using (Html.BeginForm("AddToCart", "Cart", new { id = item.product_id }))
                        {
                              <div>

   
                                     @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                     <input type="submit" class="btn btn-success" value="Add to Cart">
                              </div>
                        }
                    </td>
                        }
                    }
                </tr>
            }

        </table>
